---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to yixuan's pages!</h1>
			<p>
				Welcome to yixuan's blog pages.You can also look Linkdin to have a basic understanding of me.
				( <a href="https://astro.build/">Yixuan's linkdin</a> )
			</p>
			<p>
				<Li>My contact number:(+65)84379180 or (+86)19180413863</Li>
	
				<a href="https://astro.build/integrations">Astro Integrations</a> 
			</p>
			<p>Here are a few links to contact me:</p>
			<ul>
				<li>Wechat:x19180413863</li>
				<li>QQ:2013123886</li>
				<li>Whatsapp/telegram:using 84379180 to find me!</li>
				<li>Instagram:xuan291547</li>
				<li>email:yixuan071112@outlook.com</li>
				<Li>Github:yixuan1112-coder</Li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
