---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to yixuan's pages!</h1>
			<p>
				Welcome to yixuan's blog pages. You can also look at LinkedIn to have a basic understanding of me.
				(<a href="https://www.linkedin.com/in/yixuan-xie-b50932382">Yixuan's LinkedIn</a>)
			</p>
			<p>
				My contact number: (+65) 84379180 or (+86) 19180413863
			</p>
			<p>Here are a few links to contact me:</p>
			<ul>
				<li>Wechat:x19180413863</li>
				<li>QQ:2013123886</li>
				<li>Whatsapp/telegram:using 84379180 to find me!</li>
				<li>Instagram:xuan291547</li>
				<li>email:yixuan071112@outlook.com</li>
				<li>Github: <a href="https://github.com/yixuan1112-coder">yixuan1112-coder</a></li>
			</ul>
			<p>
				Exploring my page with fun~
				<a href="https://yixuan-your-dream-journey.netlify.app/">This is the website I wrote myself</a>
				or <a href="https://yixuanxie.my.canva.site/">This is my canva introduction slides</a>
			</p>
			<p>
				There are more things to explore.....wait for update.
			</p>
		</main>
		<Footer />
	</body>
</html>
